{% extends "base.html" %}
{% block content %}
    <p>This is {{product_id}} product file.</p>
    <a type="button" class="btn btn-warning" href="{{url_for('download_json', product_id=product_id)}}">JSON</a>
    <a type="button" class="btn btn-warning" href="{{url_for('download_csv', product_id=product_id)}}">CSV</a>
    <a type="button" class="btn btn-warning" href="{{url_for('download_xlsx', product_id=product_id)}}">XLSX</a>

    <a type="button" class="btn btn-warning" href="{{url_for('charts', product_id=product_id)}}">Charts</a>
    {{opinions | safe}}
{% endblock %}
{% block scripts %}
    <script>let table = new DataTable('#opinions', {});</script>
{% endblock %}